<ion-content>
  <div class="container">
    <div class="header">
      <h2>Connection</h2>
      <p>Veuillez renseigner votre telephone / email et votre mot de passe pour vous connecter </p>
    </div>
    <div class="form-box">
      <!-- Affichage de l'erreur error -->
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
      <form action="" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <label for="identifier">Email ou Téléphone</label>
        <input type="text" id="identifier"
              name="identifier"
              [(ngModel)]="identifier"
              required
              #identifierField="ngModel"
              placeholder="Entrez votre email ou numéro de téléphone">

        <div class="error" *ngIf="identifierField.invalid && identifierField.touched">
          <small *ngIf="identifierField.errors?.['required']">Identifiant requis</small>
        </div>

        <label for="mdp">Mot de passe</label>
        <input type="password" id="mdp" 
        name="password"
        [(ngModel)]="credentials.password"
        required
        minlength="8"
        #passwordField="ngModel" 
        placeholder="Minimum 8 caractères">

         <!-- Message d'erreur mot de passe -->
        <div class="error" *ngIf="passwordField.invalid && passwordField.touched">
          <small *ngIf="passwordField.errors?.['required']">Mot de passe requis</small>
          <small *ngIf="passwordField.errors?.['minlength']">
            Minimum 8 caractères
          </small>
        </div>

        <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Se connecter</button>
      </form>
    </div>
    <footer>Vous n'avez pas de compte? <a href="/register">Inscrivez-vous </a></footer>
  </div>
</ion-content>