<ion-header class="change-password-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Changer le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-password-content">
  <div class="form-container">
    <div class="form-header">
      <ion-icon name="lock-closed-outline" class="header-icon"></ion-icon>
      <h2>Sécurité de votre compte</h2>
      <p>Pour protéger votre compte, veuillez choisir un mot de passe fort.</p>
    </div>

    <!-- Formulaire -->
    <ion-list class="form-list" >
      <ion-item>
        <ion-label position="stacked">Mot de passe actuel</ion-label>
        <ion-input 
          type="password"
          [(ngModel)]="oldPassword"
          placeholder="Entrez votre mot de passe actuel"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nouveau mot de passe</ion-label>
        <ion-input 
          type="password"
          [(ngModel)]="newPassword"
          placeholder="Au moins 8 caractères"
          required
          minlength="8">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmer le nouveau mot de passe</ion-label>
        <ion-input 
          type="password"
          [(ngModel)]="confirmPassword"
          placeholder="Retapez le nouveau mot de passe"
          required
          minlength="8">
        </ion-input>
      </ion-item>
    </ion-list>
    
    <!-- Message d'erreur -->
    <!-- <div *ngIf="errorMessage" class="error-message">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <span>{{ errorMessage }}</span>
    </div> -->
  </div>
</ion-content>

<ion-footer class="save-footer">
  <ion-toolbar>
    <ion-button 
      expand="block" 
      class="save-button"
      (click)="changePassword()"
      [disabled]="!oldPassword || !newPassword || newPassword.length < 8 || newPassword !== confirmPassword">
      Modifier le mot de passe
    </ion-button>
  </ion-toolbar>
</ion-footer>