<ion-content class="home-page">
  <div class="header">
    <img src="" alt="profil-client">
    <div class="location">
      <ion-icon name="location-outline"></ion-icon>
      <span class="position">Malika, Dakar</span>
    </div>
    <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
  </div>


  <div class="recommandation-section">
    <h2>Nos recommandations</h2>

    <div class="product-card">
      <div class="product-image">Image</div>
      <div class="product-info">
        <div class="top">
          <span class="title">Plateau salé (only)</span>
          <span class="voir-plus">Voir plus <ion-icon name="chevron-forward-outline"></ion-icon></span>
        </div>
        <div class="price">12 000 F CFA</div>
        <div class="vendor">Les délices de Diarra</div>
      </div>
    </div>
  </div>

  <div class="vendeurs">
    <h2>Nos vendeurs</h2>
    <div class="image-prod"></div>
    <div class="info-prod"></div>
  </div>
</ion-content>