<ion-content [fullscreen]="true">

  <div id="container">
    <img src="../../assets/welcome.jpg" alt="Photo d'accueil">
    <h2>Ready to discover TikFood 🎉</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.</p>
    
    <div class="button-group">
      <button class="custom-button">Demarrer</button>
    </div>
  </div>
</ion-content>
